<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('tests')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'strict_param' => true,
    ])
    ->setFinder($finder);
